.form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid #dfdddd;
    box-shadow: -4px 0px 7px -14px rgba(0, 0, 0, 0.1),
        0px 0px 9px -7px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}
.input {
    display: flex;
    justify-content: space-between;
}
.input input {
    width: 25rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    border: 0.15rem solid #ccc;
    border-radius: 0.5rem;
}
.input input:focus {
    border-color: #7fc6d6;
}
textarea {
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    border: 0.15rem solid #ccc;
    border-radius: 0.5rem;
    resize: none;
}
textarea:focus {
    border-color: #7fc6d6;
}
.btn {
    padding: 1.5rem 2.5rem;
    background: #5bdde6;
    margin-left: auto;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s ease;
}
.btn:hover {
    transform: scale(0.9);
}
.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.btn:disabled:hover {
    transform: scale(1);
}
.container {
    max-width: 90rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 3rem;
    background: #fff;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
}
.comment {
    padding: 2rem 0;
    border-bottom: 0.1rem solid #ccc;
}
.comment:last-child {
    border-bottom: none;
}
.commentContent {
    display: flex;
    gap: 1rem;
}
.commentContent img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.information .content {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.content h3 {
    font-size: 1.7rem;
    font-weight: 600;
}
.content .email {
    position: relative;
    color: rgb(8, 102, 179);
}
.content .email::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -1.5rem;
    transform: translate(-50%, -50%);
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background: #333;
}
.content .time {
    margin-left: 1.5rem;
}
.loader {
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4.8rem;
    height: 4.8rem;
    border: 0.5rem solid #5bdde6;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.main-content span,
.footer-content span {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn button {
    margin-top: 1rem;
    padding: 2.5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    background: #edf4ff;
}

.btn button:hover {
    transform: scale(0.9);
}
.back-home {
    position: fixed;
    top: 3.5rem;
    left: 4rem;
}
.back-home button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    color: #ccc;
    background: #fff;
}
.back-home button:hover a {
    color: #000;
}
.back-home button:hover {
    transform: scale(0.9);
}
