@import "./reset.css";
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    line-height: 1.3;
    font-family: "Source Sans 3", sans-serif;
    background-color: #edf4ff;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
button {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
}
